<div class="l-about">
  <p>
    The aim of this application is to provide an easy way to manage fusions while playing the video game Shin Megami
    Tensei IV.
    You can use this application to search for available direct and chained fusions considering the player level, the
    demons in your party and demons you have marked as easy to scout.
  </p>

  <p>
    First set your player level in the tab Player. Then mark the demons you feel are easy to scout and the demons in
    your party you want to use in fusion in the tab Demons.
    Finally either explore the available fusions for a particular demon or search for the fusions of uncollected demons
    in the tab Fusion.
  </p>

  <p>
    Other websites like the following ones offer similar and on many aspects more advanced functionalities.
  </p>
  <ul>
    <li><a
        href="https://megamitensei.fandom.com/wiki/List_of_Shin_Megami_Tensei_IV_Demons">https://megamitensei.fandom.com/wiki/List_of_Shin_Megami_Tensei_IV_Demons</a>
    </li>
    <li><a
        href="https://aqiu384.github.io/megaten-fusion-tool/smt4/demons">https://aqiu384.github.io/megaten-fusion-tool/smt4/demons</a>
    </li>
    <li><a href="https://erikku.github.io/smt4tool/">https://erikku.github.io/smt4tool/</a></li>
  </ul>
  <p>
    However at the time of creation of this application no tool was found to explore chained fusions (instead of direct
    fusions) and depending on the same player information used here.
  </p>

  <p>
    Link to the github project: <a
      href="https://github.com/fab5code/smt4assistant">https://github.com/fab5code/smt4assistant</a>
  </p>

  <p>
    This application is a completely free and non-profit tool with the aim to enhance the experience of playing the
    video game Shin Megami Tensei IV.
    It is not affiliated with Atlus. All rights reserved to the copyright owners, especially for the images used for the
    characters.
  </p>
</div>
